@import 'styles/_variables.scss';

.footer {
    &-top {
        &__items {
            li {
                display: inline-block;
                padding: 10px 0;

                a {
                    color: rgba(#000, 0.7);
                    padding: 10px 0;
                    font-weight: 500;
                    margin-right: 15px;

                    &.active {
                        color: $orange !important;
                    }

                    &:hover:not(.active) {
                        color: #000;
                    }
                }
            }
        }
    }

    &-middle {
        background: $navbar;
        padding: 15px 0 5px 0;

        &__title {
            position: relative;
            margin-bottom: 25px;

            &::after {
                content: "";
                position: absolute;
                display: block;
                height: 3px;
                width: 55px;
                top: 35px;
                left: 0;
                background: $orange;
            }
        }

        &__catalog {
            display: flex;

            &-items {
                width: 100%;

                &:not(:last-child) {
                    margin-right: 20px;
                }

                li {
                    display: block;

                    a {
                        position: relative;
                        display: block;
                        padding-left: 15px;
                        color: #000;

                        &:hover {
                            color: $orange;
                        }

                        &::before {
                            position: absolute;
                            content: "";
                            display: block;
                            width: 7px;
                            height: 7px;
                            background: $orange;
                            top: 9px;
                            left: 0;
                        }
                    }
                }
            }
        }

        &__contact {
            margin-bottom: 15px;

            .contact__icon {
                margin-right: 8px;
            }

            a {
                color: #000;

                &:hover {
                    color: rgba(#000, 0.85);
                    text-decoration: underline;
                }
            }
        }
    }

    &-bottom {
        &__content {
            padding: 7px 0;

            p {
                margin: 0;
            }

            a {
                color: #000;

                &:hover {
                    color: rgba(#000, 0.85);
                    text-decoration: underline;
                }
            }

            &>div:last-child {
                text-align: right;
            }
        }
    }

    .btn-orange,
    .btn-outline-orange {
        width: 100%;
        font-size: 15px;
    }
}

@media (max-width: 768px) {
    .footer-bottom__content>div {
        text-align: center;

        &:last-child {
            text-align: center;
        }
    }
}