@import "styles/_variables.scss";

.product-price {
    &__item {
        display: flex;
        align-items: baseline;
        margin-bottom: 20px;

        &>div:first-child {
            margin-right: 14px;
        }

        .price {
            &__old {
                font-size: 15px;
                font-weight: 300;
                text-decoration: line-through;
            }

            &__current {
                font-size: 25px;
                font-weight: bold;
                opacity: 0.9;
            }

            &__measure {
                font-size: 17px;
            }
        }

        .discount {
            &__percent {
                display: inline-block;
                font-size: 15px;
                font-weight: bold;
                color: $red;
                border: 2px solid $red;
                border-radius: 4px;
                padding: 4px 10px;
            }

            &__value {
                display: inline-block;
                font-size: 14px;
                border: 2px solid $orange;
                border-radius: 4px;
                padding: 4px 10px;

                &>span {
                    font-size: 15px;
                    font-weight: bold;
                }
            }
        }
    }
}