.product-cart {
    .btn-orange {
        font-size: 16px;
    }

    &__buy {
        color: black !important;
        padding: 0 !important;

        &:hover {
            opacity: 0.85;
            text-decoration: underline;
        }
    }
}