.order-call {
    color: #fff;
    min-height: 213px;

    &--ready {
        text-align: center;
        margin-top: 30px;
        margin-bottom: 0;
    }

    &__title {
        font-size: 26px;
        font-weight: 700;
        margin-bottom: 15px;
        text-align: center;
        text-transform: uppercase;
    }

    &__subtitle {
        font-size: 16px;
        margin-bottom: 30px;
        text-align: center;
    }

    &__form {
        &>.form-group {
            margin-bottom: 0;
        }
    }

    .btn-orange {
        width: 100%;
        font-size: 16px;
        margin-bottom: 10px;
    }
}