@import "~styles/variables.scss";

.admin-catalog {
    &__actions {
        margin-bottom: 20px;

        .btn {
            border-radius: 0;
        }

        .btn-group {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 20px;

            .btn {
                &:first-child {
                    margin-left: -1px;
                }

                &.focus {
                    box-shadow: none !important;
                }
            }
        }
    }
}