@import 'styles/_variables.scss';

.navbar-top.navbar {
    background-color: $navbar;
    font-weight: 500;
    font-size: 14px;
    padding: 0px 16px;
    overflow: hidden;

    button {
        border: none;
        font-weight: 500;
        background: none;
    }

    .navbar {
        &-toggler {
            margin: 5px 0;
            border-color: rgba(0, 0, 0, 0.2) !important;
            transition: border 0.2s ease;

            &__icon {
                height: 25px;
                transition: color 0.2s ease;
            }

            &:hover {
                color: $orange;
            }
        }

        &-nav {
            svg {
                font-size: 16px;
                margin-right: 6px;
            }

            .nav-link {
                &.active {
                    color: $orange;
                }

                &:hover:not(.active) {
                    color: rgba(#000, 0.85);
                }
            }
        }

        &-btn__first,
        &-btn__second {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &-btn__first {
            &:hover {
                color: $orange;
            }
        }

        &-btn__second {
            position: relative;
            background: $orange;
            color: #fff;
            margin: 0 13px;
            padding: 8px;

            &:after,
            &:before {
                content: '';
                position: absolute;
                top: 0;
                display: block;
                width: 0;
                height: 0;
                border-style: solid;
            }

            &:before {
                right: 100%;
                border-width: 0 0 37px 10px;
                border-color: transparent transparent $orange transparent;
            }

            &:after {
                left: 100%;
                border-width: 37px 10px 0 0;
                border-color: $orange transparent transparent transparent;
            }

            &:hover {
                color: rgba(0, 0, 0, 0.85);
            }
        }
    }
}

@media (max-width: 992px) {
    .navbar-nav {
        font-size: 13px;
    }
}

@media (max-width: 767px) {
    .navbar-top {
        .navbar-collapse {
            display: flex;
            flex-direction: column-reverse;
            text-align: center;

            .navbar-nav {
                width: 80%;
                margin: 0 0 10px 0 !important;
                font-size: 14px;

                .navbar-btn__first {
                    padding-bottom: 8px;
                }
            }
        }

    }
}