@import "~styles/variables.scss";

.admin-orders {
    &__actions {
        margin-bottom: 20px;

        .btn {
            border-radius: 0;

            &.focus {
                box-shadow: none !important;
            }
        }
    }
}

@media (max-width: 768px) {
    .admin-orders__actions {
        .btn {
            display: flex;
            align-items: center;
            font-size: 14px;
        }
    }
}

@media (max-width: 460px) {
    .admin-orders__actions {
        .btn {
            font-size: 14px;
            padding: 4px;
        }
    }
}

@media (max-width: 400px) {
    .admin-orders__actions {
        .btn {
            font-size: 13px;
            padding: 2px;
        }
    }
}