$navbar: #f6f6f6;
$blue: #58797f;
$blue--hover: #f0f0f0;
$orange: #ea9947;
$orange--hover: #f3b264;
$red: #d50000;
$toast-success: #6fca72;
$toast-error: #e86052;

$sidebar-width: 200px;
$sidebar-color: #212529;
$header-color: #343a40;