@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
@import "./variables.scss";

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }
}

.card {
    height: 100%;

    a {
        color: #000;
        transition: opacity 0.15s ease;

        &:hover {
            color: #000;
            opacity: 0.85;
            text-decoration: underline;
        }
    }
}

.section-orange {
    background: $orange;
}

.btn-orange {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    color: #fff;
    background: $orange;
    border-color: $orange;

    &:hover {
        color: #fff;
        background: #f78a1e;
        border-color: #f78a1e;
    }

    &:active {
        color: #fff;
        background: #e6790d !important;
        border-color: #e6790d !important;
        box-shadow: 0 0 0 0.2rem #ffb468 !important;
    }

    &:focus {
        background-color: #f78a1e;
        border-color: #f78a1e;
        box-shadow: 0 0 0 0.2rem #ffbd7a;
    }
}

.btn-outline-orange {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    color: #fff;
    color: $orange;
    border-color: $orange;
    background-color: transparent;

    &:hover {
        color: #fff;
        background: $orange;
        border-color: $orange;
    }

    &:active {
        color: #fff;
        background: #e6790d !important;
        border-color: #e6790d !important;
        box-shadow: 0 0 0 0.2rem #ffb468 !important;
    }

    &:focus {
        color: #fff;
        background-color: #f78a1e;
        border-color: #f78a1e;
        box-shadow: 0 0 0 0.2rem #ffbd7a;
    }
}

.spinner {
    margin: 0 auto;
    margin-bottom: 30px;
}

.my-modal {
    .modal {
        &-content {
            border-radius: 0;
        }

        &-header {
            display: block;
            border: 0;

            .modal-title {
                text-align: center;
            }

            button {
                position: absolute;
                right: 0;
                top: 0;
                margin: 0;
                outline: 0;
            }
        }

        &-body {
            input {
                border-radius: 0;
            }

            button {
                width: 100%;
                padding: 8px 12px;
                border-radius: 0;
            }
        }

        &-footer {
            display: block;
            text-align: center;
            border: 0;

            p {
                font-size: 15px;
            }
        }
    }
}
