@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
@import "~rc-collapse/assets/index.css";
@import "~rc-slider/assets/index.css";
@import "~react-toastify/dist/ReactToastify.css";
@import "./variables.scss";

html,
body,
#root,
.admin-wrapper {
    height: 100%;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }
}

textarea {
    resize: none;
}

button {
    &:focus {
        outline: none;
    }
}

.card {
    height: 100%;

    a {
        color: #000;
        transition: opacity 0.15s ease;

        &:hover {
            color: #000;
            opacity: 0.85;
            text-decoration: underline;
        }
    }
}

.section-orange {
    background: $orange;
}

.btn-orange {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    color: #fff;
    background: $orange;
    border-color: $orange;

    &:hover {
        color: #fff;
        background: #f78a1e;
        border-color: #f78a1e;
    }

    &:active {
        color: #fff;
        background: #e6790d !important;
        border-color: #e6790d !important;
        box-shadow: 0 0 0 0.2rem #ffb468 !important;
    }

    &:focus {
        background-color: #f78a1e;
        border-color: #f78a1e;
        box-shadow: 0 0 0 0.2rem #ffbd7a;
    }

    &:disabled {
        cursor: default;
        background-color: #f78a1e;
        border-color: #f78a1e;
    }
}

.btn-outline-orange {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    color: #fff;
    color: $orange;
    border-color: $orange;
    background-color: transparent;

    &:hover {
        color: #fff;
        background: $orange;
        border-color: $orange;
    }

    &:active {
        color: #fff;
        background: #e6790d !important;
        border-color: #e6790d !important;
        box-shadow: 0 0 0 0.2rem #ffb468 !important;
    }

    &:focus {
        color: #fff;
        background-color: #f78a1e;
        border-color: #f78a1e;
        box-shadow: 0 0 0 0.2rem #ffbd7a;
    }
}

.custom-control-input {
    &:checked {
        ~.custom-control-label::before {
            border-color: $orange;
            background-color: $orange;
        }
    }

    &:focus {
        ~.custom-control-label:before {
            box-shadow: 0 0 0 0.2rem rgba(#f37a00, .25);
        }
    }

    &:not(:disabled):active {
        ~.custom-control-label::before {
            background-color: $orange--hover;
            border-color: $orange--hover;
        }
    }

    &:focus:not(:checked) {
        ~.custom-control-label::before {
            border-color: $orange--hover;
        }
    }
}

.my-modal {
    padding-right: 0 !important;

    .modal {
        &-content {
            border-radius: 0;
        }

        &-header {
            display: block;
            border: 0;

            .modal-title {
                text-align: center;
            }

            button {
                position: absolute;
                right: 0;
                top: 0;
                margin: 0;
                outline: 0;
            }
        }

        &-body {
            input {
                border-radius: 0;
            }

            button {
                width: 100%;
                padding: 8px 12px;
                border-radius: 0;
            }
        }

        &-footer {
            display: block;
            text-align: center;
            border: 0;

            .btn-link {
                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
}

.my-toast {
    padding: 12px;

    &.Toastify__toast--success {
        background-color: $toast-success;
    }

    &.Toastify__toast--error {
        background-color: $toast-error;
    }

    &__container {
        width: auto;
    }

    &>div {
        margin: auto 8px;
    }

    svg {
        font-size: 28px;
        margin-right: 8px;
    }

    span {
        font-size: 14px;
    }

    @media (max-width: 480px) {
        &__container {
            width: 100vw;
        }
    }
}

.form-group {
    margin-bottom: 22px;
    position: relative;

    .invalid-feedback {
        margin-top: 0;
        position: absolute;
    }
}

.table {
    border: 1px solid #efefef;
    margin-bottom: 0;
    min-width: 510px;

    &-container {
        overflow-x: auto;
    }

    &__empty {
        text-align: center;
        font-size: 18px;
    }

    thead {
        background: #faf9f9;
        border-bottom: 1px solid #efefef;

        th {
            font-weight: 400;
            color: #5a5a5a;
            padding: 10px;
        }
    }

    tbody {
        td {
            padding: 10px;
            vertical-align: middle;
        }
    }
}

@media (max-width: 992px) {
    .table {
        font-size: 14px;

        tbody td {
            padding: 6px;
        }
    }
}