@import 'styles/_variables.scss';

.profile-info {
    margin-bottom: 40px;

    &__title {
        position: relative;
        font-size: 24px;
        font-weight: 500;
        margin-bottom: 25px;

        &:after {
            content: "";
            position: absolute;
            display: block;
            background: $orange;
            height: 3px;
            width: 61px;
            top: 39px;
            left: 0;
        }
    }

    &__content {
        margin-bottom: 10px;

        table {
            tr {
                margin-bottom: 10px;

                td:first-child {
                    padding-right: 20px;
                }

                td:last-child {
                    font-weight: 500;
                }
            }
        }
    }
}