@import 'styles/_variables.scss';

.comment {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background: #fff;
    height: 100%;
    border-radius: 4px;
    padding: 20px;
    border: 1px solid #cacaca;


    &__text {
        font-size: 15px;
        font-style: italic;
        margin-bottom: 15px;
        opacity: 0.87;
    }

    &-bottom {
        display: flex;
        justify-content: space-between;

        &__inner {
            display: flex;
            justify-content: space-between;
            width: 100%;
        }
    }

    &__name {
        font-size: 18px;
        margin-bottom: 0;
    }

    &__date {
        align-self: flex-end;
        font-size: 14px;
        font-weight: 500;
        color: $orange;
        margin: 0;
    }
}

@media (max-width: 992px) {
    .home .comment-displaying:last-child {
        display: none;
    }
}