@import "styles/_variables.scss";

.product {
    &__name {
        margin-bottom: 30px;
    }

    .price-wrapper {
        position: sticky;
        top: 0;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-bottom: 50px;
    }

    .nav-tabs {
        .nav-link {
            display: flex;
            justify-content: center;
            align-items: center;
            border: none;
            border-radius: 0;
            outline: none;
            text-align: center;
            font-size: 14px;
            font-weight: 500;
            text-transform: uppercase;
            width: calc(100% / 3);
            background-color: $orange;
            color: white;

            &.active {
                background-color: $orange--hover;
                color: white;
            }

            &:hover {
                background-color: $orange--hover;
            }
        }
    }

    .tab-content {
        margin-bottom: 50px;

        .tab-pane {
            padding: 10px 0;
        }
    }

    &-components {
        &__title {
            font-size: 28px;
            font-weight: 500;
            margin-bottom: 15px;
        }
    }
}

@media (max-width: 576px){
    .product {
        .nav-tabs {
            .nav-link {
                font-size: 12px;
                padding: 8px 4px;
                word-break: break-word;
            }
        }
    }
}