@import "styles/_variables.scss";

.product {
    &__name {
        margin-bottom: 30px;
    }

    .price-wrapper {
        position: sticky;
        top: 0;
        padding-top: 10px;
        padding-bottom: 10px;

        .product-price {
            display: flex;
            align-items: baseline;
            margin-bottom: 20px;

            &>div:first-child {
                margin-right: 14px;
            }

            &__old {
                font-size: 15px;
                font-weight: 300;
                text-decoration: line-through;
            }

            &__current {
                font-size: 25px;
                font-weight: bold;
                opacity: 0.9;

                &-measure {
                    font-size: 17px;
                }
            }
        }

        .product-discount {
            display: flex;
            align-items: baseline;
            margin-bottom: 20px;

            &>div:first-child {
                margin-right: 14px;
            }

            &__percent {
                display: inline-block;
                font-size: 15px;
                font-weight: bold;
                color: $red;
                border: 2px solid $red;
                border-radius: 4px;
                padding: 4px 10px;
            }

            &__value {
                display: inline-block;
                font-size: 14px;
                border: 2px solid $orange;
                border-radius: 4px;
                padding: 4px 10px;

                &>span {
                    font-size: 15px;
                    font-weight: bold;
                }
            }
        }
    }

    .nav-tabs {
        .nav-link {
            border: none;
            border-radius: 0;
            outline: none;
            text-align: center;
            font-size: 14px;
            font-weight: 500;
            text-transform: uppercase;
            width: calc(100% / 3);
            background-color: $orange;
            color: white;

            &.active {
                background-color: $orange--hover;
                color: white;
            }

            &:hover {
                background-color: $orange--hover;
            }
        }
    }

    .tab-content {
        .tab-pane {
            padding: 10px 0;
        }
    }
}