.card {
    $self:&;

    margin: 0 15px;

    &-product {
        #{$self}-body {
            text-align: center;
            justify-content: space-between;
            display: flex;
            flex-direction: column;
        }
    
        #{$self}-title {
            font-size: 18px !important;
        }
    
        #{$self}-text {
            font-size: 20px !important;
    
            &>span {
                display: block;
                font-size: 14px !important;
                text-decoration: line-through;
            }
        }
    
        #{$self}-btn {
            display: flex !important;
            justify-content: center;
            align-items: center;
            width: 100%;
        }
    }
}