.modal-details {
    .table-sm {
        min-width: auto;

        tbody {
            td:first-child {
                font-weight: 500;
            }

            p {
                margin-bottom: 0;
            }
        }
    }

    .modal-footer {
        padding: 0;

        & > * {
            margin: 0;
        }

        .btn-link {
            padding: 16px;
            font-weight: 500;
            color: rgba(#000, 0.6);

            &:hover {
                color: rgba(#000, 0.9);
            }

            &:focus {
                text-decoration: none;
            }
        }
    }
}