@import 'styles/_variables.scss';

.navbar {
    background-color: $navbar;
    font-size: 14px;
    font-weight: 500;
    padding: 0px 16px !important;
    overflow: hidden;

    &-toggler {
        border-color: rgba(0, 0, 0, 0.2) !important;
        outline: none !important;
        transition: border 0.2s ease;

        &__icon {
            height: 25px;
            transition: color 0.2s ease;
        }

        &:hover {
            border: 1px solid $orange !important;
        }

        &:hover &__icon {
            color: $orange;
        }
    }

    &-nav .nav-link:not(.navbar__registry) {
        color: rgba(0, 0, 0, 0.65) !important;
    }

    .nav-link {
        font-size: 14px;

        &.active {
            color: $orange !important;
        }

        &:hover:not(.navbar__registry) {
            color: $orange--hover !important;
        }
    }

    &-toggler {
        margin: 5px 0;
    }

    &__entry,
    &__registry {
        display: flex !important;
        align-items: center;
    }

    &__registry {
        color: rgba(0, 0, 0, 0.65) !important;
        &:hover {
            color: $orange--hover !important;
        }
    }
}

@media (min-width: 768px) {
    .navbar {
        .nav-link {
            font-size: 13px;
        }

        &__entry {
            justify-content: center;
        }

        &__registry {
            justify-content: center;
            position: relative;
            background: $orange;
            color: #fff !important;
            margin-left: 13px;

            &:after,
            &:before {
                content: '';
                position: absolute;
                top: 0;
                display: block;
                width: 0;
                height: 0;
                border-style: solid;
            }

            &:before {
                right: 100%;
                border-width: 0 0 37px 10px;
                border-color: transparent transparent $orange transparent;
            }

            &:after {
                left: 100%;
                border-width: 37px 10px 0 0;
                border-color: $orange transparent transparent transparent;
            }

            &:hover {
                color: rgba(0, 0, 0, 0.65) !important;
            }
        }
    }
}

@media (min-width: 992px) {
    .navbar {
        .nav-link {
            font-size: 14px;
        }
    }
}