@import "styles/_variables.scss";

.cart-table {
    margin-bottom: 40px;

    .table {
        tbody {
            .product-link {
                color: #000;

                &:hover {
                    text-decoration: underline;
                    opacity: 0.85;
                }
            }
        }

        .btn-red {
            line-height: 0;
            padding: 5px;
            font-size: 22px;
            color: $red;

            &:focus {
                box-shadow: none;
            }

            &:hover {
                transform: scale(1.2);
            }
        }

        &__empty {
            text-align: center;
            font-size: 18px;
        }

        &__result {
            text-align: right;
            padding: 14px;
            font-weight: 500;
        }
    }
}

@media (max-width: 768px) {
    .cart-table .table {
        tbody {
            td:not(:first-child) {
                text-align: center;
            }
        }
    }
}