@import 'styles/_variables.scss';

.section {
    padding: 30px 20px;

    &__title {
        margin-bottom: 30px;
        ;
        text-align: center;
        font-size: 26px;
        font-weight: bold;
        text-transform: uppercase;
        color: rgba(0, 0, 0, 0.75);
        position: relative;

        &::before,
        &::after {
            display: inline-block;
            position: relative;
            top: -1px;
            width: 55px;
            height: 3px;
            vertical-align: middle;
            background: $orange;
        }

        &::before {
            left: -10px;
            margin-left: -50%;
        }

        &::after {
            left: 10px;
            margin-right: -50%;
        }
    }

    &-view {
        text-align: center;

        &__btn {
            font-size: 17px !important;
            border-radius: 30px !important;
            padding-left: 20px !important;

            &:hover {
                background-color: rgb(233, 233, 233);
            }

            svg {
                font-size: 32px;
                margin-left: 7px;
                color: $orange;
            }
        }
    }
}

@media (min-width: 576px) {
    .section__title {

        &::before,
        &::after {
            content: '';
        }
    }
}