@import 'styles/_variables.scss';

.catalog .rc-collapse {
    background-color: #fff;

    p,
    label {
        margin: 0;
    }

    label {
        user-select: none
    }

    .form-group {
        margin-bottom: 8px;
    }

    &-header {
        flex-direction: row-reverse;
        justify-content: space-between;
        font-weight: 500;
        outline: 0;
    }

    &-footer {
        border-top: 1px solid #d9d9d9;
        padding: 10px 16px;
        display: flex;

        button {
            width: 100%;
        }
    }

    .rc-slider {
        margin-bottom: 10px;

        &-track {
            background-color: $orange--hover;
        }

        &-handle {
            border-color: $orange--hover;

            &:hover {
                border-color: $orange;
            }

            &:active {
                border-color: $orange;
                box-shadow: 0 0 0 5px $orange--hover;
            }

            &-dragging {
                border-color: $orange !important;
                box-shadow: 0 0 0 5px $orange--hover !important;
            }
        }
    }
}