@import "~styles/variables.scss";

.admin-home {
    height: 100%;
    background: #f8f8f8;
}

.content-wrapper {
    margin-left: $sidebar-width;
    padding-top: 55px;
    overflow-x: hidden;
    transition: all 0.3s ease;
}

.overlay {
    transition: all 0.3s 
}

.admin-home.toggled {
    .content-wrapper {
        margin-left: 0;
    }

    .overlay {
        display: none;
    }
}

@media (max-width: 1024px) {
    .content-wrapper {
        margin-left: 0px;
    }

    .admin-home.toggled {
        .content-wrapper {
            margin-left: 0;
        }
    }

    .admin-home.toggled {
        .overlay {
            display: block;
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: rgba(#000, 0.4);
            z-index: 999;
        }
    }
}