@import 'styles/_variables.scss';

.header {
    &-info:not(:first-child) {
        margin-left: 10px;
    }

    &-info {
        display: block;
        text-align: center;
        font-size: 14px;

        img {
            height: 30px;
            width: auto;
            margin-right: 7px;
        }

        &__title {
            opacity: 0.8;
        }
    }

    &-products {
        .products-top {
            display: none;

            &__items {
                display: flex;

                .top-item {
                    position: relative;
                    width: 100%;

                    &>a {
                        color: $blue;
                        text-decoration: none;
                        opacity: .65;
                        display: block;
                        text-align: center;
                        padding: 10px 0;
                        height: 100%;
                    }

                    &__image {
                        margin-bottom: 10px;
                    }

                    &__title {
                        font-style: italic;
                        font-size: 14px;
                    }

                    &:hover>a {
                        opacity: 1;
                        background: $blue--hover;
                    }

                    .categories__block {
                        background: #f9fafa;
                    }

                    &:hover .categories__block {
                        display: flex;
                    }
                }
            }
        }

        .products-bottom {
            display: none;

            &__items {
                display: flex;

                .bottom-item {
                    position: relative;
                    width: 100%;

                    &>a {
                        display: block;
                        text-align: center;
                        padding-top: 10px;
                        padding-bottom: 10px;
                        font-size: 12px;
                        font-weight: 500;
                        color: #fff;
                        text-transform: uppercase;
                    }

                    &:hover>a {
                        background: $orange--hover;
                    }

                    .categories__block {
                        background: $orange--hover;
                    }

                    &:hover .categories__block {
                        display: flex;
                    }
                }
            }
        }

        .categories__block {
            display: none;
            position: absolute;
            left: 0;
            z-index: 50;
            box-shadow: 3px 3px 5px rgba(0, 0, 0, .45);
            padding: 0 15px;

            .categories-items {
                padding: 15px;
                white-space: nowrap;

                &__title {
                    font-weight: bold;
                    font-size: 15px;
                    text-transform: uppercase;
                }

                a,
                a:hover,
                a:focus {
                    color: #0d0d0d;
                }

                a:hover,
                a:focus {
                    text-decoration: underline;
                }
            }

            &--right {
                left: auto;
                right: 0;
            }
        }

        .products-mob {
            display: block;

            .navbar {
                background: none;
                padding: 0 !important;

                .nav-link {
                    text-align: center;
                    text-transform: uppercase;
                    font-size: 16px;
                    color: $blue;
                    border-bottom: 1px solid $blue--hover;
                    padding: 5px;

                    &:hover {
                        font-weight: 500;
                    }
                }
            }

            &__button {
                width: 100%;
                height: 44px;
                background: $orange;
                border-color: $orange;
                border: 0;
                outline: 0;
                margin: 0;
                border-radius: 0;
                color: #fff !important;
                font-size: 16px;
                font-weight: 500;
                text-transform: uppercase;

                &:hover {
                    background: $orange--hover;
                    border-color: $orange--hover !important;
                }
            }
        }
    }
}

@media (min-width: 992px) {
    .top-item__title {
        font-size: 15px !important;
    }

    .header-products {
        .products-bottom__items .bottom-item {
            &>a {
                font-size: 16px;
            }
        }
    }
}

@media (min-width: 768px) {
    .header-info {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: left;
    }

    .products-mob {
        display: none !important;
    }

    .products-top {
        display: block !important;
    }

    .products-bottom {
        display: block !important;
    }
}