.modal-ready {
    display: flex;
    align-items: center;
    justify-content: center;

    &__content {
        margin: 0;

        &__img {
            margin-top: 10px;
            margin-bottom: 10px;

            img {
                display: block;
                height: 100px;
                margin: 0 auto;
            }
        }

        p {
            font-size: 20px;
            font-weight: 500;
            opacity: 0.9;
        }
    }
}