@import 'styles/_variables.scss';

.mini-cart {
    $self: &;
    position: fixed;
    top: 48%;
    right: 0;
    z-index: 10;
    background: rgba($orange, 0.8);
    color: #fff;
    border-radius: 15px 0 0 15px;
    right: -158px;
    transition: all 0.4s;
    width: 222px;

    &__inner {
        font-size: 16px;
        display: flex;
        align-items: center;

        span {
            padding-right: 12px;
        }

        #{$self}__icon {
            position: relative;
            padding: 8px 18px 13px;
            font-size: 28px;

            &-number {
                position: absolute;
                font-size: 14px;
                top: 11px;
                right: 7px;
                background: #848484;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 21px;
                height: 21px;
                border-radius: 50%;
                transition: background 0.4s;
            }
        }
    }

    &:hover {
        color: #fff;
        right: 0;
        background: rgba($orange, 1);

        #{$self}__icon-number {
            background: #535456;
        }
    }
}