.news-subs {
    margin: 55px 0;

    &--result {
        text-align: center;
        opacity: 0.8;
    }

    h5 {
        margin-bottom: 15px;
    }

    &__input {
        margin-bottom: 10px;
    }

    .btn-orange {
        width: 100%;
    }
}


@media (max-width: 993px) {
    .news-subs {
        margin: 80px 0;
    }
}